torch>=1.9
requests
flask
numpy
ufal.udpipe
pyyaml
configargparse
transformers
OpenNMT-py>=1.2.0
git+https://github.com/TurkuNLP/diaparser.git@master
pytorch_lightning<1.5.0
torchmetrics
scikit-learn>=0.24
